@typeparam TItem
@using SemanticBlazor.Mappers
@inherits SemanticBlazor.Components.Base.List.SemListBase<TItem>


@if (Visible)
{
  <CascadingValue Value="this">
    @Columns
    @if (CurrentItems == null)
    {
      <div class="@SegmentClassMapper.ToString()" style="padding: 0">
        <table class="ui @Class table">
          <thead>
            <tr>
              <th style="width: 10%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
              <th style="width: 15%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
              <th style="width: 30%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
              <th style="width: 10%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
              <th style="width: 20%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
              <th style="width: 10%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
              <th style="width: 5%"><div class="ui placeholder"><div class="paragraph"><div class="short line"></div></div></div></th>
            </tr>
          </thead>
          <tbody>
            @for (int i = 0; i < 5; i++)
            {
              <tr>
                <td style="width: 10%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                <td style="width: 15%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                <td style="width: 30%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                <td style="width: 10%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                <td style="width: 20%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                <td style="width: 10%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                <td style="width: 5%"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
    else if (!CurrentItems.Any())
    {
      <div class="ui message">@EmptyDataMessage</div>
    }
    else
    {
      <div id="@Id" class="@SegmentClassMapper.ToString()" style="padding: 0;">
        <table class="@ClassMapper.ToString()">
          <thead>
            @if (Header != null)
            {
              @Header
            }
            else
            {
              <tr>
                @foreach (var column in _localColumns)
                {
                  <th @attributes="GetHeaderAttributes(column)">
                    @if (column.HeaderTemplate != null)
                    {
                      @column.HeaderTemplate
                    }
                    else
                    {
                      @if (AllowSorting && !string.IsNullOrEmpty(column.SortExpression))
                      {
                        <SemDataTableSortLink SortExpression="@column.SortExpression" Table="this">
                          @column.HeaderText
                        </SemDataTableSortLink>
                      }
                      else
                      {
                        @column.HeaderText
                      }
                    }
                  </th>
                }
              </tr>
            }
          </thead>
          <tbody>
            @foreach (var item in CurrentItems)
            {
              @if (RowTemplate != null)
              {
                @RowTemplate(item)
              }
              else
              {
                <tr @attributes="GetRowAttributes(item)">
                  @foreach (var column in _localColumns)
                  {
                    <td @attributes="GetBodyAttributes(column, item)">
                      @if (column.ItemTemplate != null)
                      {
                        @(column.ItemTemplate(item))
                      }
                      else
                      {
                        @(column.ItemText.Invoke(item))
                      }
                    </td>
                  }
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
      @if (AllowPaging)
      {
        <SemPagination TotalPages="TotalPages" PageIndex="PageIndex" PageIndexChanged="@(async index => await SetPageIndex(index))"></SemPagination>
      }
    }
  </CascadingValue>
}

@code {
  [Parameter] public string SegmentClass { get; set; } = "basic";

  [Parameter] public RenderFragment Columns { get; set; }
  [Parameter] public bool AllowSorting { get; set; }
  private List<SemDataTableColumn<TItem>> _localColumns = new List<SemDataTableColumn<TItem>>();
  [Parameter] public Func<TItem, string> RowClassFunc { get; set; }
  [Parameter] public string RowClass { get; set; }

  [Parameter] public RenderFragment Header { get; set; }
  [Parameter] public RenderFragment<TItem> RowTemplate { get; set; }
  [Parameter] public string EmptyDataMessage { get; set; } = "No records has been found...";
  ClassMapper SegmentClassMapper { get; set; } = new ClassMapper();

  public SemDataTable()
  {
    SegmentClassMapper
    .Add("ui basic")
    .Get(() => SegmentClass)
    .If("loading", () => Loading)
    .Add("segment");

    ClassMapper
    .Add("ui")
    .Add("table");
  }

  internal override void RegisterChildControl(object control)
  {
    if (control.GetType() != typeof(SemDataTableColumn<TItem>)) return;
    if (RowTemplate != null || Header != null)
    {
      throw new Exception("Columns collection cannot be used together with RowTemplate or Header.");
    }
    _localColumns.Add((SemDataTableColumn<TItem>)control);
    if (CurrentItems != null) StateHasChanged();
  }

  public async Task Sort(string sortExpression)
  {
    if (SortExpression == sortExpression)
    {
      SortDirection = SortDirection == "ASC" ? "DESC" : "ASC";
    }
    else
    {
      SortExpression = sortExpression;
      SortDirection = "ASC";
    }
    await RefreshData();
  }

  public Dictionary<string, object> GetHeaderAttributes(SemDataTableColumn<TItem> column)
  {
    var retval = new Dictionary<string, object>();
    if (!string.IsNullOrEmpty(column.HeaderClass))
    {
      retval.Add("class", column.HeaderClass);
    }
    return retval;
  }
  public Dictionary<string, object> GetRowAttributes(TItem item)
  {
    var retval = new Dictionary<string, object>();
    var classAttr = $"{RowClass} {RowClassFunc?.Invoke(item)}";
    if (!string.IsNullOrWhiteSpace(classAttr))
    {
      retval.Add("class", classAttr.Trim());
    }
    return retval;
  }
  public Dictionary<string, object> GetBodyAttributes(SemDataTableColumn<TItem> column, TItem item)
  {
    var retval = new Dictionary<string, object>();
    var classAttr = $"{column.ItemClass} {column.ItemClassFunc?.Invoke(item)}";
    if (!string.IsNullOrWhiteSpace(classAttr))
    {
      retval.Add("class", classAttr.Trim());
    }
    return retval;
  }
}
