@typeparam ItemType
@typeparam ValueType
@using SemanticBlazor.Mappers
@inherits SemSelectControlBase<ItemType, ValueType>

@if (Visible)
{
  <CascadingValue Value="@this">
    @ListItems
  </CascadingValue>
  @if (!loading)
  {
    <div id="@Id" class="@ClassMapper.ToString()" style="@Style" @attributes="Attributes">
      @if (Items != null)
      {
        @foreach (var item in Items)
        {
          <div class="field">
            <div class="ui radio checkbox">
              @if (Value != null && GetItemKey(GetItemFromValue(Value)) == GetItemKey(item))
              {
                <input type="radio" id="@($"{Id}-{GetItemKey(item)}")" checked="checked" @onchange="(() => ButtonClicked(GetItemKey(item)))" @attributes="@DisabledAttribute">
              }
              else
              {
                <input type="radio" id="@($"{Id}-{GetItemKey(item)}")" @onchange="(() => ButtonClicked(GetItemKey(item)))" @attributes="@DisabledAttribute">
              }
              <label for="@($"{Id}-{GetItemKey(item)}")">
                @if (ItemTemplate == null)
                {
                  @GetItemText(item)
                }
                else
                {
                  @ItemTemplate(item)
                }
              </label>
            </div>
          </div>
        }
      }
    </div>
  }
  else
  {
    <SemIcon Icon="Icon.Spinner_Loading" />
  }
}

@code {
  public virtual Func<ItemType, ValueType> ValueSelector { get; set; }

  protected ItemType GetItemFromValue(ValueType value) => SemDataSelectControlHelper<ItemType, ValueType>.GetItemFromValue(value, Items, ValueSelector);
  protected object ConvertValue(string newValue) => SemDataSelectControlHelper<ItemType, ValueType>.ConvertValue(newValue, Items, ItemKey, ValueSelector);
  protected override string GetItemText(ItemType item) => SemDataSelectControlHelper<ItemType, ValueType>.GetItemText(item, ItemText);
  protected override string GetItemKey(ItemType item) => SemDataSelectControlHelper<ItemType, ValueType>.GetItemKey(item, Items, ItemKey);


  public SemRadioButtonListBase()
  {
    ClassMapper
      .Add("grouped fields");
  }
  protected override async Task OnParametersSetAsync()
  {
    if (Value != null)
    {
      SelectedItem = GetItemFromValue(Value);
    }
    else
    {
      SelectedItem = default(ItemType);
    }
    await base.OnParametersSetAsync();
  }
  protected override async Task ItemsLoaded()
  {
    if (Value != null)
    {
      SelectedItem = GetItemFromValue(Value);
    }
    if (Items != null)
    {
      if (!Items.Any(i => GetItemKey(i) == GetItemKey(SelectedItem)))
      {
        await ClearValue();
      }
    }
  }
  async Task ButtonClicked(string value)
  {
    Value = (ValueType)ConvertValue(value);
    await NotifyChanged();
  }
}
