@page "/Components/ButtonSwitch"
@layout ComponentsLayout
@inject SemanticBlazor.Web.Data.DummyDataService dummyData

<h1>ButtonSwitch & DAtaButtonSwitch</h1>
@*See the full documentation at <NavLink href="https://semantic-ui.com/modules/checkbox.html" target="_blank">Semantic UI</NavLink>.*@

<h3>Standard</h3>
<p>
  <SemButtonSwitch @bind-Value="SelectedValue">
    <ListItems>
      <SemSelectListItem Text="Option 1" Value="Option 1"></SemSelectListItem>
      <SemSelectListItem Text="Option 2" Value="Option 2"></SemSelectListItem>
      <SemSelectListItem Text="Option 3" Value="Option 3"></SemSelectListItem>
      <SemSelectListItem Text="Option 4" Value="Option 4"></SemSelectListItem>
    </ListItems>
  </SemButtonSwitch>
</p>
<p>
  Selected value: @(SelectedValue)
</p>
<CodeHighlight Code=@(@"
  <SemButtonSwitch @bind-Value=""SelectedValue"">
    <ListItems>
      <SemSelectListItem Text=""Option 1"" Value=""Option 1""></SemSelectListItem>
      <SemSelectListItem Text=""Option 2"" Value=""Option 2""></SemSelectListItem>
      <SemSelectListItem Text=""Option 3"" Value=""Option 3""></SemSelectListItem>
      <SemSelectListItem Text=""Option 4"" Value=""Option 4""></SemSelectListItem>
    </ListItems>
  </SemButtonSwitch>") />

<h3>Disabled</h3>
<p>
  <SemButtonSwitch @bind-Value="SelectedValue" Enabled="@dropdownEnabled">
    <ListItems>
      <SemSelectListItem Text="Option 1"></SemSelectListItem>
      <SemSelectListItem Text="Option 2"></SemSelectListItem>
      <SemSelectListItem Text="Option 3"></SemSelectListItem>
      <SemSelectListItem Text="Option 4"></SemSelectListItem>
    </ListItems>
  </SemButtonSwitch>
  <SemButton OnClick="@(() => dropdownEnabled = !dropdownEnabled)" Classes="@(new[] { ButtonClass.Basic })" Color="ButtonColor.Teal">Toggle</SemButton>
</p>
<CodeHighlight Code=@(@"
  <SemButtonSwitch @bind-Value=""SelectedValue"" Enabled=""@dropdownEnabled"">
    <ListItems>
      <SemSelectListItem Text=""Option 1""></SemSelectListItem>
      <SemSelectListItem Text=""Option 2""></SemSelectListItem>
      <SemSelectListItem Text=""Option 3""></SemSelectListItem>
      <SemSelectListItem Text=""Option 4""></SemSelectListItem>
    </ListItems>
  </SemButtonSwitch>") />

<h3>Basic</h3>
<p>
  <SemButtonSwitch @bind-Value="SelectedValue" Items="options" Classes="@(new [] { ButtonClass.Basic })"></SemButtonSwitch>
</p>
<CodeHighlight Code=@(@"
  <SemButtonSwitch @bind-Value=""SelectedValue"" Items=""options"" Classes=""@(new [] { ButtonClass.Basic })""></SemButtonSwitch>") />

<h3>Sizes & colors</h3>
<p>
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Mini" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Tiny" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Small" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Medium" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Large" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Big" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Huge" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Size="Size.Massive" Items="options"></SemButtonSwitch>
</p>
<CodeHighlight Code=@(@"
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Mini"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Tiny"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Small"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Medium"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Large"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Big"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Huge"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Size=""Size.Massive"" Items=""options""></SemButtonSwitch>") />
<p>
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Red" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Orange" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Yellow" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Olive" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Green" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Teal" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Blue" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Violet" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Purple" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Pink" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Brown" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Grey" Items="options"></SemButtonSwitch><br /><br />
  <SemButtonSwitch @bind-Value="SelectedValue" Color="ButtonColor.Black" Items="options"></SemButtonSwitch>
</p>
<p>
  Selected value: @(SelectedValue)
</p>
<CodeHighlight Code=@(@"
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Red"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Orange"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Yellow"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Olive"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Green"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Teal"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Blue"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Violet"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Purple"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Pink"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Brown"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Grey"" Items=""options""></SemButtonSwitch>
  <SemButtonSwitch @bind-Value=""SelectedValue"" Color=""ButtonColor.Black"" Items=""options""></SemButtonSwitch>") />

<h3>Databinding items - Item object value</h3>
<p>
  <SemDataButtonSwitch @bind-Value="SelectedDummy" Items="dummies" ItemText="@(dummy => dummy.Name)"></SemDataButtonSwitch>
</p>
<p>
  Selected value: @SelectedDummy?.ToString())
</p>
<CodeHighlight Code=@(@"
  <SemDataButtonSwitch @bind-Value=""SelectedDummy"" Items=""dummies"" ItemText=""@(dummy => dummy.Name)""></SemDataButtonSwitch>") />

<h3>Databinding items - String value</h3>
<p>
  <SemDataButtonSwitch @bind-Value="SelectedDummyName" Items="dummies" ValueSelector="@(dummy => dummy.Name)" ItemText="@(dummy => dummy.Name)"></SemDataButtonSwitch>
</p>
<p>
  Selected value: @(SelectedDummyName)
</p>
<CodeHighlight Code=@(@"
  <SemDataButtonSwitch @bind-Value=""SelectedDummyName"" Items=""dummies"" ValueSelector=""@(dummy => dummy.Name)"" ItemText=""@(dummy => dummy.Name)""></SemDataButtonSwitch>") />

<h3>Databinding items - Int value</h3>
<p>
  <SemDataButtonSwitch @bind-Value="SelectedDummyId" Items="dummies" ValueSelector="@(dummy => dummy?.DummyId ?? 0)" ItemText="@(dummy => dummy.Name)"></SemDataButtonSwitch>
</p>
<p>
  Selected value: @(SelectedDummyId)
</p>
<CodeHighlight Code=@(@"
  <SemDataButtonSwitch @bind-Value=""SelectedDummyId"" Items=""dummies"" ValueSelector=""@(dummy => dummy.DummyId)"" ItemText=""@(dummy => dummy.Name)""></SemDataButtonSwitch>") />

<h3>Enum value</h3>
<p>
  <SemDataButtonSwitch @bind-Value="SelectedOption" Items="Enum.GetValues(typeof(Option)).Cast<Option>()" DefaultText="Select..."></SemDataButtonSwitch>
</p>
<p>
  Selected value: @(SelectedOption.ToString())
</p>
<CodeHighlight Code=@(@"
  // Enum definition in C#
  enum Option
  {
    Option_1,
    Option_2,
    Option_3,
    Option_4
  }
  Option SelectedOption { get; set; }

  <SemDataButtonSwitch @bind-Value=""SelectedOption"" Items=""Enum.GetValues(typeof(Option)).Cast<Option>()"" DefaultText=""Select...""></SemDataButtonSwitch>") />

<h3>Enum value via ListItems</h3>
<p>
  <SemButtonSwitch @bind-Value="SelectedOption">
    <ListItems>
      <SemSelectListItem Text="Option 1" Value="Option_1"></SemSelectListItem>
      <SemSelectListItem Text="Option 2" Value="Option_2"></SemSelectListItem>
      <SemSelectListItem Text="Option 3" Value="Option_3"></SemSelectListItem>
      <SemSelectListItem Text="Option 4" Value="Option_4"></SemSelectListItem>
    </ListItems>
  </SemButtonSwitch>
</p>
<p>
  Selected value: @(SelectedOption.ToString())
</p>
<CodeHighlight Code=@(@"
  <SemButtonSwitch @bind-Value=""SelectedOption"">
    <ListItems>
      <SemSelectListItem Text=""Option 1"" Value=""Option_1""></SemSelectListItem>
      <SemSelectListItem Text=""Option 2"" Value=""Option_2""></SemSelectListItem>
      <SemSelectListItem Text=""Option 3"" Value=""Option_3""></SemSelectListItem>
      <SemSelectListItem Text=""Option 4"" Value=""Option_4""></SemSelectListItem>
    </ListItems>
  </SemButtonSwitch>") />

@code {
  private bool dropdownEnabled { get; set; } = false;
  public string SelectedValue { get; set; }
  public string SelectedValue2 { get; set; }
  public int SelectedDummyId { get; set; } = 1;
  public string SelectedDummyName { get; set; } = "Lorem";
  SemanticBlazor.Web.Data.DummyData SelectedDummy { get; set; }
  List<SemanticBlazor.Web.Data.DummyData> dummies = new List<Data.DummyData>();
  List<ListItem> options { get; set; } = new List<ListItem>()
{
    new ListItem() { Text="Option 1" },
    new ListItem() { Text="Option 2" },
    new ListItem() { Text="Option 3" },
    new ListItem() { Text="Option 4" }
  };
  Option SelectedOption { get; set; }

  protected override async Task OnInitializedAsync()
  {
    dummies = await dummyData.GetAllDataAsync();
    dummies = dummies.Take(5).ToList();
    SelectedDummy = dummies.Skip(1).First();
  }
  enum Option
  {
    Option_1,
    Option_2,
    Option_3,
    Option_4
  }
}
