@page "/Components/TablePaged"
@layout ComponentsLayout
@inject Data.DummyDataService DummyDataService

<h1>Table with pagination</h1>
<p>Table without direct connection to server (API) data. Items are stored and paged locally.</p>

<SemDataTable @ref="table" Items="@Items" AllowPaging="true" DefaultPageSize="5" PageIndexChanged="PageIndexChanged">
  <Columns>
    <SemDataTableColumn ItemType="Data.DummyData" HeaderText="ID" ItemText="@(a => a.DummyId.ToString())"></SemDataTableColumn>
    <SemDataTableColumn ItemType="Data.DummyData" HeaderText="Name" ItemText="@(a => a.Name)"></SemDataTableColumn>
    <SemDataTableColumn ItemType="Data.DummyData" HeaderText="Type" ItemText="@(a => a.Type)"></SemDataTableColumn>
  </Columns>
</SemDataTable>
<br />
<br />
<p>
  Current index: @pageIndex
</p>
<CodeHighlight Code=@(@"
<SemDataTable @ref=""table"" Items=""@Items"" AllowPaging=""true"" DefaultPageSize=""5"" PageIndexChanged=""PageIndexChanged"">
  <Columns>
    <SemDataTableColumn ItemType=""Data.DummyData"" HeaderText=""ID"" ItemText=""@(a => a.DummyId.ToString())""></SemDataTableColumn>
    <SemDataTableColumn ItemType=""Data.DummyData"" HeaderText=""Name"" ItemText=""@(a => a.Name)""></SemDataTableColumn>
    <SemDataTableColumn ItemType=""Data.DummyData"" HeaderText=""Type"" ItemText=""@(a => a.Type)""></SemDataTableColumn>
  </Columns>
</SemDataTable>
<p>
  Current index: @pageIndex
</p>") />

@code {
  List<Data.DummyData> Items;
  SemDataTable<Data.DummyData> table;
  int pageIndex;

  protected override async Task OnInitializedAsync()
  {
    Items = await DummyDataService.GetAllDataAsync();
  }

  void PageIndexChanged(int newPageIndex)
  {
    pageIndex = newPageIndex;
  }
}
