@typeparam TItem
@typeparam TValue
@using SemanticBlazor.Mappers
@inherits SemSelectControlBase<TItem, List<TValue>>

@if (Visible)
{
  <CascadingValue Value="@(this)">
    @ListItems
  </CascadingValue>
  @if (!Loading)
  {
    <div id="@Id" class="@ClassMapper.ToString()" style="@Style" @attributes="Attributes">
      @if (Items != null)
      {
        @foreach (var item in Items)
        {
          <div class="@InputClassMapper.ToString()">
            @if (Value != null && Value.Any(v => GetItemKey(GetItemFromValue(v)) == GetItemKey(item)))
            {
              <input type="checkbox" id="@($"{Id}-{GetItemKey(item)}")" checked="checked" @onchange="(() => CheckedChanged(GetItemKey(item)))" @attributes="@DisabledAttribute">
            }
            else
            {
              <input type="checkbox" id="@($"{Id}-{GetItemKey(item)}")" @onchange="(() => CheckedChanged(GetItemKey(item)))" @attributes="@DisabledAttribute">
            }
            <label for="@($"{Id}-{GetItemKey(item)}")">
              @if (ItemTemplate == null)
              {
                @GetItemText(item)

              }
              else
              {
                @ItemTemplate(item)
              }
            </label>
          </div>
        }
      }
    </div>
  }
  else
  {
    <SemIcon Icon="Icon.Spinner_Loading" />
  }
}


@code {
  [Parameter] public CheckboxType Type { get; set; } = CheckboxType.Checkbox;
  ClassMapper InputClassMapper { get; set; } = new ClassMapper();

  public virtual Func<TItem, TValue> ValueSelector { get; set; }
  private TItem GetItemFromValue(TValue value) => SemDataSelectControlHelper<TItem, TValue>.GetItemFromValue(value, Items, ValueSelector);
  private object ConvertValue(object newValue) => SemDataSelectControlHelper<TItem, TValue>.ConvertValue(newValue, Items, ItemKey, ValueSelector);
  protected override string GetItemText(TItem item) => SemDataSelectControlHelper<TItem, TValue>.GetItemText(item, ItemText);
  protected override string GetItemKey(TItem item) => SemDataSelectControlHelper<TItem, TValue>.GetItemKey(item, Items, ItemKey);

  public SemCheckboxListBase()
  {
    ClassMapper
      .Add("ui")
      .Add("checkboxes");

    InputClassMapper
      .Add("ui")
      .If("disabled", () => !Enabled)
      .Get(() => Type.ToString().ToLower())
      .Add("checkbox");
  }
  protected override async Task OnParametersSetAsync()
  {
    SelectedItems = Value?.Select(GetItemFromValue).ToList();
    await base.OnParametersSetAsync();
  }
  protected override async Task ItemsLoaded()
  {
    if (Value != null)
    {
      SelectedItems = Value.Select(GetItemFromValue).ToList();
    }
    if (Items != null)
    {
      var validKeys = Value?.Where(v => Items.Any(i => GetItemKey(i) == GetItemKey(GetItemFromValue(v)))).Select(v => GetItemKey(GetItemFromValue(v))).ToList();
      if (validKeys != null && validKeys.Count > 0)
      {
        Value = validKeys.Select(k => (TValue)ConvertValue(k)).ToList();
        await NotifyChanged();
      }
      else
      {
        await ClearValue();
      }
    }
  }
  async Task CheckedChanged(object value)
  {
    if (Value == null) Value = new List<TValue>();
    TValue convertedValue;
    if (ValueSelector != null)
    {
      convertedValue = ValueSelector.Invoke(GetItem(value));
    }
    else
    {
      convertedValue = (TValue)ConvertValue(value);
    }
    if (Value.Contains(convertedValue))
    {
      Value.Remove(convertedValue);
    }
    else
    {
      Value.Add(convertedValue);
    }
    await NotifyChanged();
  }
}
